.order-info-container {
  display: flex;
  // width: 70%;
  flex-direction: column;
  gap: 4.8rem;
  // margin: 0 auto;
  // justify-content: center;
  align-items: center;
  // padding: 4.8rem 9.6rem;
  padding-bottom: 9.6rem;
  // border-right: 1px solid #114678;
  // border-left: 1px solid #114678;

  .confirmation-msg-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150rem;
    gap: 2.4rem;
    padding: 0;
    // justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 34em) {
      width: 100%;
    }
    .back-link {
      // padding-bottom: 2.4rem;
      // justify-self: flex-start;
      justify-self: left;
      display: flex;
      // gap: 0.4rem;
      align-items: center;
      width: fit-content;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      .title {
        font-size: 2.4rem;
        color: #333;
      }

      .arrow-icon {
        color: #333;
        width: 3.2rem;
        height: 3.2rem;
        transition: all 0.3s ease-out;
      }
      &:hover {
        .arrow-icon {
          // transform: translateX(-1rem);
        }
      }
    }

    .payment-successful {
      font-size: 2.4rem;
      letter-spacing: 0.7px;
      color: #3d5b78;
      font-weight: 500;
      text-transform: capitalize;
    }

    .thank-you-msg {
      font-size: 1.6rem;
      color: #777;
      text-align: center;
      line-height: 1.5;
      padding: 0 2.4rem;

      .user-email {
        font-weight: 500;
      }
    }
  }

  .order-summary-title {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
  }

  .order-summary-div {
    // width: 50%;
    max-width: 150rem;
    min-width: 50rem;
    .order-container {
      padding-bottom: 0;
      .order-summary {
        align-self: center;
        border-top: 0px solid rgba(119, 119, 119, 0.5);
        .subtotal {
          font-weight: 500;
        }
      }
    }
    .order-item-container {
      .product-info {
        .image-container {
          img {
            aspect-ratio: 3/4;
            // height: 16rem; // Just a number that looked good - can be changed
          }
        }
      }
    }
  }

  .order-details-div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    padding-bottom: 4.8rem;
    @media (max-width: 34em) {
      gap: 1rem;
      padding-bottom: 1.2rem;
    }
    .details-info-div {
      span {
        font-size: 1.6rem;
        color: #333;
      }
      display: flex;
      gap: 15rem;
      align-items: flex-start;
      @media (max-width: 34em) {
        gap: 1rem;
      }
      .details-title {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        align-items: flex-start;
        font-weight: 500;
        span:last-child {
          padding-top: 1.6rem;
          font-weight: 600;
        }
      }
      .details-info {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        align-items: flex-end;
        span:last-child {
          padding-top: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
  button {
    @media (max-width: 34em) {
      min-width: 16.5rem;
    }
  }
}
