$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.button-container {
  min-width: 16.5rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  background-color: $accent-color;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: $accent-color;
    // border: 1px solid #333;
    box-shadow: 0 0 0 1px $accent-color;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #3970c9;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: $accent-color;
    border: 1px solid $accent-color;

    &:hover {
      background-color: $accent-color;
      color: white;
      border: none;
    }
  }

  &.no-border {
    border: none;
    box-shadow: none;
  }
}
