$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.App-header {
  padding: 1.8rem 4.8rem;
  height: 15rem;
  position: relative;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 4.8rem;
  letter-spacing: 3.6px;
  color: #333;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.8rem;
  padding-bottom: 3.6rem;
  // height: 9.6rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  // gap: 2.4rem;
  list-style: none;
  font-size: 1.6rem;
  &.header-nav-list {
    gap: 3.2rem;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    z-index: 100;
    color: #777;
    transition: all 0.3s;

    &:hover {
      color: #114678;
      cursor: pointer;
      .dropdown_menu li {
        display: block;
      }
    }

    .dropdown_menu {
      position: absolute;
      top: 100%;
      left: -50%;
      width: 200%;
      perspective: 1000px;
      z-index: -1;
      // box-shadow: 0 2.4rem 2.4rem rgb(0 0 0 / 5%);

      &.dropdown_menu-2 {
        @for $num from 1 through 4 {
          .dropdown_item--#{$num} {
            transform-origin: top center;
            animation: rotateX 300ms ($num * 60ms) ease-in-out forwards;
          }
        }

        @keyframes rotateX {
          0% {
            opacity: 0;
            transform: rotateX(-90deg);
          }
          50% {
            transform: rotateX(-20deg);
          }
          100% {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }

        .dropdown_item {
          text-align: center;
          padding: 1.8rem 0;
          .dropdown-link {
            font-size: 1.6rem;
            text-decoration: none;
            color: #777;
          }
          &:hover {
            .dropdown-link {
              color: #114678;
            }
          }
          &:first-child {
            padding-top: 3.6rem;
          }
          &:last-child {
            padding-bottom: 3.6rem;
          }
        }
      }

      li {
        display: none;
        color: #777;
        background-color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        opacity: 0;
        &:hover {
          color: #114678;
        }
      }
    }

    .name-container {
      display: flex;
      justify-content: center;
      align-items: center;
      // gap: 0.5rem;

      .display-name {
        // font-weight: 500;
      }
      .arrow-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      &:hover {
        color: #114678;
      }
    }
  }
}

.nav-link-sticky,
.nav-link,
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #777;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-link-sticky:hover,
.nav-link:hover,
.nav-link:active {
  color: $accent-color-tint;
}

.nav-header {
  .nav-link,
  .nav-link:link,
  .nav-link:visited {
    font-weight: 500;
  }
}

.cart-link:hover {
  .cart-icon-container {
    color: $accent-color-tint;
  }
}
.wishlist-link:hover {
  .wishlist-icon-container {
    color: $accent-color-tint;
  }
}

.logo-link {
  color: #333;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.search-input {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

// Styling the search cancel button
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  // border-radius: 50%;
  background: url(https://cdn-icons-png.flaticon.com/512/722/722133.png)
    no-repeat 50% 50%;

  background-size: contain;
  cursor: pointer;
  opacity: 0.7;
  // pointer-events: none;
}

.search-input:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid $accent-color-tint;
  cursor: text;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #777;
  transition: all 0.3s;
}

.search-btn:hover,
.search-btn:active {
  .search-icon {
    color: $accent-color-tint;
  }
  .search-input::placeholder {
    color: $accent-color-tint;
  }
}

// Adding border bottom hover affect
.nav-menu {
  .nav-link:link,
  .nav-link:visited {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav-link:link::after,
  .nav-link:visited::after {
    display: block;
    content: "";
    padding-bottom: 1.8rem;
    border-bottom: 1px solid $accent-color-tint;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after,
  .nav-link:active::after {
    border-bottom: 1px solid $accent-color;
    transform: scaleX(1);
  }

  .search-dropdown-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    // top: 15rem;
    left: 0;
    z-index: 2;
    // background-color: rgba(7, 30, 51, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    // transition: height 0.6s ease, opacity 0.2s ease-in-out;
    // transition: all 0.3s ease-in-out;
    // transform-origin: top center;
    &.hide-search {
      display: none;
      // opacity: 0;
      // transform: scaleY(0);
    }
    .close-dropdown {
      position: absolute;
      // top: 45rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;

      background-color: #fff;
      width: 6.4rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .arrow-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      .hide-search {
        // display: none;
        opacity: 0;
      }
    }
  }
  .cart-dropdown-div {
    position: relative;
    grid-column: 3/-1;
    .cart-dropdown-container {
      top: 0;
      right: 0;
      box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.05);
    }
  }
}

.sticky {
  /* STICKY NAVIGATION */
  &.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    padding-top: 2.4rem;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 6.6rem;
    padding-right: 6.6rem;
    // box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }

  .search-btn {
    justify-self: left;
    align-self: flex-start;
  }
  .header-nav-list {
    align-self: flex-start;
    justify-self: right;
    gap: 3.6rem;
    .nav-link-sticky {
      text-transform: none;
      letter-spacing: 0;
      font-weight: 500;
    }
  }

  .cart-dropdown-div {
    position: relative;
    grid-column: 3/-1;
    .cart-dropdown-container {
      top: 0;
      right: -1.8rem;
    }
    &.hide-cart {
      .cart-dropdown-container {
        animation: growUp 300ms ease-in-out forwards;
        transform-origin: top center;
        opacity: 0;
      }

      @keyframes growUp {
        0% {
          transform: scaleY(1);
        }

        100% {
          transform: scaleY(0);
        }
      }
    }
  }

  // .sticky .section-hero {
  //   margin-top: 9.6rem;
  // }
  .search-dropdown-div {
    top: 7rem;
    .section-search {
      // top: 7rem;
    }
    .close-dropdown {
      // top: 37rem;
    }
  }
}

.hidden {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding-top: 2.4rem;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 999;
  // padding: 1.8rem 3.6rem;
  height: 10rem;
  .search-btn {
    margin-right: 4.8rem;
    // z-index: 999;
  }
  .mobile-search-container {
    // overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    &.open {
      opacity: 1;
      visibility: visible;
    }
    .mobile-search-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 10rem;
      z-index: 999;
      background-color: #fff;
    }
    .mobile-close-search {
      position: absolute;
      top: 3.2rem;
      right: 4.2rem;
      cursor: pointer;

      .mobile-close {
        width: 3.6rem;
        height: 3.6rem;
        color: #777;
        z-index: 999;
      }
    }
    .search-btn {
      margin-right: 0;
      position: absolute;
      top: 3.2rem;
      right: 50%;
      transform: translateX(50%);
      .search-input {
        outline: 0;
        box-shadow: none;
        border-bottom: 1px solid $sub-color;
        cursor: text;
        &:focus {
          border-bottom: 1px solid $accent-color-tint;
        }
      }
    }
  }
  .hamburger-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 3.6rem;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    .hamburger-react {
      &:hover {
        color: #114678;
      }
    }
  }
  .App-header {
    height: 100%;
    // position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;

    .menu-search {
      gap: 2.4rem;
    }
    .logo-link-mobile {
      color: #333;
      text-decoration: none;
    }
  }

  .mobile-menu {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(256, 256, 256, 1);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    .header-nav-list {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 3.6rem;
    }
    .mobile-nav-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      list-style: none;
      .nav-link {
        font-size: 32px;
        text-decoration: none;
        color: #777;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover,
        &:active {
          color: $accent-color-tint;
        }
      }
    }
    &.open {
      opacity: 1;
      visibility: visible;
      // -webkit-backdrop-filter: blur(5px);
      // backdrop-filter: blur(2px);
      .nav-link {
        animation: appear 0.3s both;
      }
      @keyframes appear {
        0% {
          opacity: 0;
          translate: 0 50px;
        }
        100% {
          opacity: 1;
        }
      }
      // .background {
      //   z-index: 1;
      //   top: -10%;
      //   left: -10%;
      //   width: 120%;
      //   height: 120%;
      //   background-size: cover;
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   transition: 0.5s;
      // }

      // .App-header.open .background {
      //   filter: blur(20px);
      // }
    }
  }
}
