$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.App-header {
  padding: 1.8rem 4.8rem;
  height: 15rem;
  position: relative;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 4.8rem;
  letter-spacing: 3.6px;
  color: #333;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.8rem;
  padding-bottom: 3.6rem;
  // height: 9.6rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
  font-size: 1.6rem;
  .name-link {
    text-decoration: none;
    .display-name {
      color: #777;
      // font-weight: 500;
    }
  }
}

.nav-link-sticky,
.nav-link,
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #777;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-link-sticky:hover,
.nav-link:hover,
.nav-link:active {
  color: $accent-color-tint;
}

.nav-header {
  .nav-link,
  .nav-link:link,
  .nav-link:visited {
    font-weight: 500;
  }
}

.cart-link:hover {
  .cart-icon {
    color: $accent-color-tint;
  }
  .cart-num {
    color: $accent-color-tint;
  }
}

.logo-link {
  color: #333;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.search-input {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

// Styling the search cancel button
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  // border-radius: 50%;
  background: url(https://cdn-icons-png.flaticon.com/512/722/722133.png)
    no-repeat 50% 50%;

  background-size: contain;
  cursor: pointer;
  opacity: 0.7;
  // pointer-events: none;
}

.search-input:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid $main-color;
  cursor: text;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #777;
  transition: all 0.3s;
}

.search-btn:hover,
.search-btn:active {
  .search-icon {
    color: $accent-color-tint;
  }
  .search-input::placeholder {
    color: $accent-color-tint;
  }
}

// Adding border bottom hover affect
.nav-menu {
  .nav-link:link,
  .nav-link:visited {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav-link:link::after,
  .nav-link:visited::after {
    display: block;
    content: "";
    padding-bottom: 1.8rem;
    border-bottom: 1px solid $accent-color-tint;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after,
  .nav-link:active::after {
    border-bottom: 1px solid $accent-color;
    transform: scaleX(1);
  }

  .search-dropdown-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    // top: 15rem;
    left: 0;
    z-index: 2;
    // background-color: rgba(7, 30, 51, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    // transition: height 0.6s ease, opacity 0.2s ease-in-out;
    // transition: all 0.3s ease-in-out;
    // transform-origin: top center;
    &.hide-search {
      display: none;
      // opacity: 0;
      // transform: scaleY(0);
    }
    .close-dropdown {
      position: absolute;
      // top: 45rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;

      background-color: #fff;
      width: 6.4rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .arrow-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      .hide-search {
        // display: none;
        opacity: 0;
      }
    }
  }
  .cart-dropdown-div {
    position: relative;
    grid-column: 3/-1;
    .cart-dropdown-container {
      top: 0;
      right: 0;
      box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.05);
    }
  }
}

.sticky {
  /* STICKY NAVIGATION */
  &.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    padding-top: 2.4rem;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 6.6rem;
    padding-right: 6.6rem;
    // box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }

  .search-btn {
    justify-self: left;
    align-self: flex-start;
  }
  .header-nav-list {
    align-self: flex-start;
    justify-self: right;
    .nav-link-sticky {
      text-transform: none;
      letter-spacing: 0;
      font-weight: 500;
    }
  }

  .cart-dropdown-div {
    position: relative;
    grid-column: 3/-1;
    .cart-dropdown-container {
      top: 0;
      right: -1.8rem;
    }
    &.hide-cart {
      .cart-dropdown-container {
        animation: growUp 300ms ease-in-out forwards;
        transform-origin: top center;
        opacity: 0;
      }

      @keyframes growUp {
        0% {
          transform: scaleY(1);
        }

        100% {
          transform: scaleY(0);
        }
      }
    }
  }

  // .sticky .section-hero {
  //   margin-top: 9.6rem;
  // }
  .search-dropdown-div {
    top: 7rem;
    .section-search {
      // top: 7rem;
    }
    .close-dropdown {
      // top: 37rem;
    }
  }
}
