.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 45rem;

  h2 {
    font-size: 2.4rem;
    margin: 1rem 0;
  }

  span {
    font-size: 1.4rem;
  }

  .buttons-container {
    display: flex;
    // gap: 2.4rem;
    // align-items: center;
    justify-content: space-between;

    .google-button {
      box-shadow: none !important;
      border-radius: 0 !important;
      transition: all 0.3s;
      // font-weight: bold;

      &:hover {
        background-color: #3b70c5 !important;
        // background-color: #0c3256 !important;
        // background-color: #114678 !important;
      }
    }
  }
}
