// .section-hero {
//   padding-bottom: 96px;
// }

// section {
//   padding: 96px 0;
//   background-color: #f7f7f7;
// }

.hero-img {
  /* background-color: orangered; */
  height: 90vh;
  position: relative;

  // background-image: linear-gradient(
  //     rgba(34, 34, 34, 0.6),
  //     rgba(34, 34, 34, 0.6)
  //   ),
  //   url(https://images.unsplash.com/photo-1596725668413-d91baf68d9ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-image: url(https://images.unsplash.com/photo-1596725668413-d91baf68d9ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-position: bottom;
  color: #fff;
}

.hero {
  width: 1200px;
  // position: absolute;

  /* In relation to PARENT size */
  left: 50%;
  top: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, -50%);

  /* background-color: violet; */

  /* text-align: center; */
  h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
  }
}

.hero-text {
  width: 50%;
  /* background-color: blue; */
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
