.product-container {
  max-width: 130rem;
  // height: 60vh;
  margin: 0 auto;
  padding: 0 9.6rem;
  display: flex;
  gap: 3.6rem;
  align-items: flex-start;
  .product-gallery-div {
    width: 70%;
    height: 100%;
  }
  .product-aside-div {
    width: 30%;
    height: 100%;
  }
}
