$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.search-item-container {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  // height: 45rem;
  align-items: center;
  justify-content: center;
  position: relative;

  .img-div {
    // overflow: hidden;
    width: 100%;
    height: 60%;
    margin-bottom: 5px;
    border: none;
    align-self: stretch;
    img {
      width: 100%;
      height: 100%;
      // min-width: 6.4rem;
      aspect-ratio: 3/4;
      // height: 40rem;
      object-fit: cover;
      display: block;
    }
  }

  button {
    width: 80%;
    opacity: 0;
    position: absolute;
    border: none;
    top: 13.5rem;
    font-size: 1.6rem;
    padding: 0 2.4rem;
    // height: 1rem;
    // width: 30%;
    // top: 33rem;
    // font-size: 1rem;
    transform: scale(0.5);
    // color: rgba(51, 51, 51, 0);
    // display: none;
    transition: all 0.3s;
  }

  .favorite-div {
    width: 3.2rem;
    height: 3.2rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s;
    cursor: pointer;
    &.active {
      opacity: 0.8;
      transform: scale(0.6);
    }
    .favorite-icon {
      width: 2.4rem;
      height: 2.4rem;
      color: $accent-color;
      transition: all 0.3s;
    }
  }

  &:hover {
    img {
      // opacity: 0.8;
    }

    button {
      // width: 80%;
      // height: 5rem;
      // top: 32.5rem;
      opacity: 1;
      // font-size: 1.2rem;
      transform: scale(0.7);
      // color: #333;
      // display: flex;
    }

    .favorite-div {
      transform: scale(0.7);
      opacity: 1;

      .favorite-icon {
      }
    }
  }

  .info {
    width: 100%;
    // height: 10rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 0.4rem;
    font-size: 1.6rem;
    color: #333;
    padding: 1.2rem 0;

    .companyName {
      font-size: 1.2rem;
      color: #777;
      font-family: "Playfair Display", serif;
      letter-spacing: 1px;
    }

    .name {
      font-weight: 500;
      width: 15rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
    }
  }
}
