$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.mobile-search-item-container {
  width: 100%;
  display: flex;
  min-height: 10rem;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  padding: 1.6rem 1.6rem;
  font-size: 1.6rem;
  align-items: center;
  .product-info {
    width: 70%;
    display: flex;
    gap: 1.8rem;
    align-items: center;

    .image-container {
      // ** To return to fixed sizing **
      width: 25%;
      // height: 23rem; // ** uncomment this **
      // padding-right: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        // width: 80%; // ** uncomment this **
        width: 100%; // ** comment this **
        // height: 20rem; // 23 - Just a number that looked good - can be changed // ** uncomment this **
        // height: 100%; // ** comment this **
        min-width: 10rem;
        aspect-ratio: 3/4;
        // padding: 0 1.2rem; // ** comment this
        object-fit: cover;
        // margin-bottom: auto;
      }
    }
    .item-details {
      width: 67%;
      align-self: stretch;
      padding: 2.4rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      .name,
      .quantity,
      .price {
        width: 100%;
      }
      .price {
        font-size: 1.6rem;
        margin-top: auto;
        font-weight: 600;
      }
      span {
        color: #777;
        font-size: 1.4rem;
        &.name {
          font-size: 1.6rem;
          color: #333;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          // word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          // line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  // .price {
  //   width: 25%;
  //   text-align: center;
  //   // padding-left: 1.2rem;
  // }
  .mobile-search-actions {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-self: stretch;
    padding: 1.2rem 0;
    .favorite-div {
      width: 3.2rem;
      height: 3.2rem;
      background-color: white;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: flex;

      transition: all 0.3s;
      cursor: pointer;
      .favorite-icon {
        width: 2.4rem;
        height: 2.4rem;
        color: $accent-color;
        transition: all 0.3s;
      }
    }
    .add-to-cart {
      width: 100%;
      max-width: 20rem;
      // scale: 0.7;
      padding: 1.2rem;
    }
  }
}
