$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

.product-card-container {
  width: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  // height: 45rem;
  align-items: center;
  position: relative;
  overflow: hidden; // If bug - remove

  .img-btn-div {
    align-self: stretch;
    position: relative;
    .img-div {
      // overflow: hidden;
      width: 100%;
      // height: 40rem;
      margin-bottom: 5px;
      border: none;
      cursor: pointer;
      img {
        width: 100%;

        // height: 40rem;
        min-width: 12rem;
        aspect-ratio: 3/4;
        object-fit: cover;
        display: block;
      }
    }
    .btn-div {
      width: 100%;
      position: absolute;
      bottom: 5%;
      left: 0;
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.3s;
      visibility: hidden;
      button {
        width: 80%;
        margin: 0 auto;
        border: none;
        // top: 35rem;
        // right: 10%;
        padding: 1.2rem;
        // height: 1rem;
        // width: 30%;
        // top: 33rem;
        // font-size: 1rem;
        // color: rgba(51, 51, 51, 0);
        // display: none;
        @media screen and (max-width: 34em) {
          padding: 0;
        }
      }
    }

    .favorite-div {
      width: 3.2rem;
      height: 3.2rem;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      align-items: center;
      justify-content: center;
      display: flex;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.5);
      transition: all 0.3s;
      cursor: pointer;
      &.active {
        opacity: 0.8;
        transform: scale(0.8);
        visibility: visible;
      }
      .favorite-icon {
        width: 2.4rem;
        height: 2.4rem;
        color: $accent-color;
        transition: all 0.3s;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      img {
        // opacity: 0.8;
      }

      .btn-div {
        // width: 80%;
        // height: 5rem;
        // top: 32.5rem;
        opacity: 1;
        // font-size: 1.5rem;
        transform: scale(1);
        visibility: visible;
        // color: #333;
        // display: flex;
      }

      .favorite-div {
        transform: scale(1);
        opacity: 1;
        visibility: visible;

        .favorite-icon {
        }
      }
    }
  }

  .info {
    width: 100%;
    // height: 10rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 0.4rem;
    font-size: 1.6rem;
    color: #333;
    padding: 0.4rem 0;

    .companyName {
      font-size: 1.2rem;
      color: #777;
      font-family: "Playfair Display", serif;
      letter-spacing: 1px;
    }

    .name-div {
      height: 4.8rem;
      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        // word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        // line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .price {
      font-weight: 500;
      // position: absolute;
      // bottom: 1rem;
      // left: 0;
    }
  }
}
