.checkout-item-container {
  width: 100%;
  display: flex;
  min-height: 10rem;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  padding: 1.6rem 0;
  font-size: 1.6rem;
  align-items: center;
  .product-info {
    width: 50%;
    display: flex;
    gap: 2.4rem;
    align-items: center;

    .image-container {
      width: 30%;
      height: 100%;
      padding-right: 1.6rem;

      img {
        width: 100%;
        height: 23rem; // Just a number that looked good - can be changed
        object-fit: cover;
      }
    }
    .item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      .name,
      .quantity,
      .price {
        width: 100%;
      }
      span {
        color: #777;
        font-size: 1.4rem;
        &.name {
          font-size: 1.6rem;
          color: #333;
          font-weight: 500;
        }
      }
    }
  }
  .name,
  .quantity-container,
  .price {
    width: 14%;
  }

  .quantity {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
    .remove-icon {
      width: 2.4rem;
      height: 2.4rem;
      color: #555;
    }
  }
  .arrow-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #555;
    cursor: pointer;
  }
}
