.payment-confirmation-container {
  display: flex;
  // width: 70%;
  flex-direction: column;
  gap: 4.8rem;
  // margin: 0 auto;
  // justify-content: center;
  align-items: center;
  padding: 4.8rem 9.6rem;
  padding-bottom: 9.6rem;
  // border-right: 1px solid #114678;
  // border-left: 1px solid #114678;
  .confirmation-msg-div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    // justify-content: center;
    align-items: center;
    .check-icon {
      width: 4.8rem;
      height: 4.8rem;
      color: #3d5b78;
      border: 3px solid #3d5b78;
      border-radius: 50%;
    }

    .payment-successful {
      font-size: 2.4rem;
      letter-spacing: 0.7px;
      color: #3d5b78;
      font-weight: 500;
    }

    .thank-you-msg {
      font-size: 1.6rem;
      color: #777;
      text-align: center;
      line-height: 1.5;

      .user-email {
        font-weight: 500;
      }
    }
  }

  .order-summary-title {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
  }

  .order-summary-div {
    // width: 50%;
    max-width: 150rem;
    min-width: 50rem;
    .order-container {
      .order-summary {
        align-self: center;
        border-top: 0px solid rgba(119, 119, 119, 0.5);
        .subtotal {
          font-weight: 500;
        }
      }
    }
    .order-item-container {
      .product-info {
        .image-container {
          img {
            // height: 20rem; // Just a number that looked good - can be changed
            min-width: 8rem;
            aspect-ratio: 3/4;
          }
        }
      }
    }
  }

  .order-details-div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    padding-bottom: 4.8rem;
    .details-info-div {
      span {
        font-size: 1.6rem;
        color: #333;
      }
      display: flex;
      gap: 15rem;
      align-items: flex-start;
      .details-title {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        align-items: flex-start;
        font-weight: 500;
        span:last-child {
          padding-top: 1.6rem;
          font-weight: 600;
        }
      }
      .details-info {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        align-items: flex-end;
        span:last-child {
          padding-top: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}
