/*

Page container settings
  max-width: 150rem;
  padding: 0 9.6rem;

--- 01 Typography System ---

FONT STYLES
  Priamry: 'Playfair Display', serif;
  Secondary: 'Montserrat', sans-serif;

FONT SIZE SYSTEM (px):
 - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights:
 - Default: 400
 - Medium: 500
 - Semi-Bold: 600
 - Bold: 700

Line heights:
 - Default: 1
 - Small: 1.05
 - Medium: 1.2
 - Paragraph Degault: 1.6
 - Large: 1.8

Letter spacing:
 - -0.5px
 - 0.75px
 - 1px


--- 02 Colors ---

Primary: #333
 - Tints: 
 - Shades: 
 Accents: #0c3256 
 - Tints: #114678
 - Shades: #071e33
GREYS: #333 #555 #777 #6f6f6f #767676

--- 03 Transitions ---

  0.3s
  0.5s
  2s

--- 05 Shadows ---

--- 06 Border radius ---
 - Default: 9px
 - Medium: 11px

--- 07 Whitespace ---

SPACING SYSTEM (px):
 - 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
$accent-color: #0c3256;
$accent-color-tint: #114678;
$accent-color-shade: #071e33;
$main-color: #333;
$sub-color: #777;

/* Makes it so only keyboard focus works */
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; = 1 rem */
  /* 65.5% from users font size settings */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding-bottom: 9.6rem;
}

.hidden {
  display: none !important; // Checking if doestnt work return to navigation.scss and newsletter.scss
}
